/* =================================================================
  Footer
==================================================================== */

#footer {
  padding: 20px 0;
  background: @global-muted-background;
  font-size: 0.9rem;
  color: @global-muted-color;
}

.uk-totop {
  display:none;
  align-items: center;
  justify-content: center;
  position:fixed;
  right:40px;
  bottom:40px;
  width: 40px;
  height:40px;
  border-radius: 50%;
  background: @global-primary-background;
  color: @inverse-global-emphasis-color;

  &.uk-active {
    display:flex;
  }

  &:focus,
  &:active,
  &:hover {
    color: @inverse-global-emphasis-color;
  }

  & when(@tm-primary-color-mode = dark) {
    color: @global-emphasis-color;
    &:focus,
    &:active,
    &:hover {
      color: @global-emphasis-color;
    }
  }

}
